<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row>
      <ion-text>
        <h1>Hola, tenemos estas opciones para ti</h1>
      </ion-text>
    </ion-row>

    <ion-row>

      <ion-col size-xl="6" size-md="12" size-xs="12">
        <ion-card class="card-with-ribbon">
          <div class="ribbon">Cinta</div>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size-xl="4" size-xs="6">
                  <ion-icon name="cash-outline" size="large" color="primary"></ion-icon>
                </ion-col>

                <ion-col size-xl="4" size-xs="6">
                  <div class="column">
                    <h3>Crédito aprobado</h3>
                    <h1>$20.000.000</h1>
                  </div>
                </ion-col>

                <ion-col size-xl="4" size-xs="12"><ion-chip color="secondary" [outline]="true">ADQUIÉRELO
                    YA</ion-chip></ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xl="3" size-md="6" size-xs="12">
        <ion-card>
          <ion-card-content>

            <ion-grid>

              <ion-row>

                <ion-col size-xl="6" size-xs="12">
                  <ion-icon name="cash-outline" size="large" color="primary"></ion-icon>
                </ion-col>

                <ion-col size-xl="6" size-xs="12">
                  <h2>Refiere y gana</h2>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xl="3" size-md="6" size-xs="12">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size-xl="6" size-xs="12">
                  <ion-icon name="cash-outline" size="large" color="primary"></ion-icon>
                </ion-col>
                <ion-col size-xl="6" size-xs="12">
                  <h2>Abre tu platamia</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-text>
        <h1>Estos son tus productos</h1>
      </ion-text>
    </ion-row>

    <ion-row>

      <ion-col size-xl="6" size-md="6" size-xs="12">
        <ion-card class="border">

          <ion-card-header>
            <ion-card-title>¿Cuánto tengo?</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-text>
              <ion-row>
                <ion-col size="9" class="amount">
                  <h2>
                    Disponible:
                  </h2>
                  <h2>
                    Saldo total:
                  </h2>
                </ion-col>
                <ion-col size="3" class="amount">
                  <span>
                    $0,00
                  </span>
                  <span>
                    $50.560,00
                  </span>
                </ion-col>
              </ion-row>
            </ion-text>
          </ion-card-content>

          <ion-row>
            <ion-col>
              <ion-chip color="primary">VER DETALLE</ion-chip>
            </ion-col>
          </ion-row>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>