ion-toolbar {
  --background: var(--ion-color-secondary);
}

ion-split-pane {
  --side-width: 0px;
  --border: none;
}

ion-menu ion-content  {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));

  }
  
  ion-menu.md ion-content  {
    --padding-start: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 20px 0;
  }
  
  ion-menu.md ion-note {
    margin-bottom: 30px;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
    min-height: 20px;
  }
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  
  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-tertiary-rgb), 0.14);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: black;
  }

  ion-menu.md ion-item.selected ion-label {
    color: black;
  }
  
  ion-menu.md ion-item ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
    color: #73849a;
  }
  

  //propiedades de iphone

  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  ion-menu.ios ion-item.selected {
    --background: rgba(var(--ion-color-tertiary-rgb), 0.14);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  ion-menu.ios ion-item.selected ion-label {
    color: black;
  }

  ion-menu.ios ion-item.selected ion-icon {
    color: black;
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: var(--ion-color-primary);
  }

  ion-menu.ios ion-item ion-label {
    color: #73849a;
  }
  
  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }

  
  ion-note {
    display: inline-block;
    font-size: 16px;
  
    color: var(--ion-color-medium-shade);
  }
  
  ion-item.selected {
    --color: black;
  }

.label-phone {
  color: var(--ion-color-primary) !important;
  padding-left: 65px;
}

ion-col{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-header {
  background-image:  linear-gradient(90deg, rgba(181,18,27,1) 20%, rgba(0,0,0,0) 80%), url('../../assets/images/stock-photo-facesmile498a-3382798.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.list-user{
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

:host ::ng-deep ion-router-outlet ion-content {
  --background: linear-gradient(90deg, rgba(236,236,236,1) 0%, rgba(247,247,247,1) 3%) !important; 
}
    




